@import url('http://fonts.googleapis.com/css?family=Press+Start+2P');

.simcity-modal {
  background: #FCECE1;
  font: bold 11px 'Press Start 2P', Menlo;
  line-height: 16px;
  padding: 20px 20px 140px;
  border: 10px solid #B6AFDB;
  box-shadow: 4px 0px 0px #fff,
              4px 4px 0px #577366,
              inset 2px 0px 0px #fff,
              inset 0px 2px 0px #577366;
  max-width: 420px; 
  width: 1px;
  position: fixed;
  display: none;
  margin-left: 50%;
  margin-top: 0px;
  overflow: hidden;
}

.simcity-modal-inner {
    width: 420px;
    overflow: hidden;    
}

.simcity-modal * {
    display: none;
}

.simcity-modal h3 {
    text-transform: uppercase;
    font: bold 12px 'Press Start 2P', Menlo;
    margin-bottom: 10px;
    padding-left: 0;
}

.simcity-modal .modal-header {
  padding: 0;
  border: 0;
}

.simcity-modal #floor {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: url('sprites/floor.jpg') repeat-x;
    height: 22px;
    margin-left: -20px;
}

.simcity-modal #door {
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 32px;
    width: 60px;
    height: 60px;
    border: 2px solid #000;
    background: #77E0F7;
    padding: 5px;
    box-sizing: border-box;
    border-bottom: 0;
}

.simcity-modal #inner-door {
   border: 2px solid blue;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
}

.simcity-modal #dr-wright {
    height: 75px;
    width: 78px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    margin-left: -46px;
    background: url('sprites/drwrightdoor.png') 0px 0;
}

.simcity-modal #desk {
  position: absolute;
  right: 20px;
  bottom: 12px;
  width: 75px;
  height: 80px;
    background: url('sprites/desk.png') no-repeat;
}

.simcity-modal .window {
 width: 50px;
 height: 50px;
 background: url('sprites/window.jpg') no-repeat;
 position: absolute;
 bottom: 40px;
}
.simcity-modal #window2 {
 left: 90px;
}
​